@import url('https://fonts.googleapis.com/css?family=Oswald|Shrikhand');

body {
  font-family: 'Oswald', sans-serif;
  background: #D1D1D1;
  font-size: 2em;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  margin: 20px 0 30px 0;
}

.main-container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.friends-list {
  line-height: 45px;
}
